.medium-editor-toolbar, .medium-editor-anchor-preview {
  z-index: 1000;
}

.medium-editor-toolbar-form-anchor label.medium-editor-toolbar-anchor-target-label {
  display: inline-block;
  padding: 0;
  margin: 0px 10px;
  width: auto;
  &:before {
    color: white;
    font-size: 18px;
    font-family: 'FontAwesome';
    display: block;
    position: relative;
    top: 2px;
    // content: '\f0c8'; // square-dark
    content: '\f096'; // square-light
  }

}
.medium-editor-toolbar-anchor-target {
  &:checked + .medium-editor-toolbar-anchor-target-label:before {
    content: '\f08e'; // external-light
    // content: '\f14c'; // external-dark
  }
}






// .medium-toolbar-arrow-under:after {
//   border-color: $tn-primary transparent transparent;
// }

// .medium-toolbar-arrow-over:before {
//   border-color: transparent transparent $tn-primary;
// }

// .medium-editor-toolbar-form-anchor {
//   background: $tn-primary;

//   input.medium-editor-toolbar-anchor-input {
//     background: $tn-primary;
//     border: 0;
//     padding: 0 $tn-margin;
//   }
// }

// .medium-editor-toolbar-anchor-preview {
//   background: $tn-primary;
// }

// .medium-editor-toolbar {
//   background-color: $tn-primary;
//   border: 1px solid $medium-editor-toolbar-border;

//   li .medium-editor-button-active {
//     background-color: $medium-editor-toolbar-active;
//   }

//   li button {
//     border-right: 1px solid $medium-editor-toolbar-border;

//     &:hover {
//       background-color: $medium-editor-toolbar-hover;
//     }
//   }
// }

// .medium-editor-placeholder:after {
//   color: $medium-editor-toolbar-border;
// }
